{% trans_default_domain 'ir_product' %}

<div class="page-header">
    <h1>{{ 'product.edit.title'|trans }}</h1>
</div>

<form action="{{ path('ir_product_edit', {'id': product.id}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" novalidate>
    {% include 'IRProductBundle:Product:form.html.twig' %}
    <div>
        <button type="submit" class="btn btn-primary">{{ 'product.edit.save'|trans }}</button>
        <a href="{{ path('ir_product_list') }}" class="btn">{{ 'product.edit.cancel'|trans }}</a>         
    </div>               
</form>