{% trans_default_domain 'ir_product' %}

<div class="page-header">
    <h1>{{ 'variant.edit.title'|trans }}</h1>
</div>

<form action="{{ path('ir_product_variant_edit', {'id': variant.id}) }}" {{ form_enctype(form) }} method="POST">
    {% include 'IRProductBundle:Variant:form.html.twig' %}
    <div class="form-actions">
        <input type="submit" value="{{ 'variant.edit.save'|trans }}" class="btn btn-large btn-primary" />
       &nbsp;
       <a href="{{ path('ir_product_edit', {'id': variant.product.id} ) }}" class="btn btn-large">{{ 'variant.edit.cancel'|trans }}</a>         
    </div> 
</form>